
{% from './macros/address.html' import src %}
{% extends './base.html'%}


{% block content %}

<section>
	<div id="titulo">Cyberpunk 2077 tera opção de Desativar musicas licenciadas</div>

	<div id="cyberpunk">
		<img {{ src("img/noticias/cyberpunk.png") }} alt="Cyberpunk">
		<h3>A opção é voltada para jogadores que pretendem transmitir o jogo via serviços de streaming, ou quiserem gravar vídeos especiais do game, que sofrem o risco de serem suspensos ou banidos de plataformas como Twitch.tv e YouTube.

"Sabemos que, para criadores de conteúdo, músicas licenciadas às vezes podem ser problemáticas", explicou a chefe de comunicações do estúdio no Reino Unido, Hollie Bennet."Por isso, neste novo modo você poderá desabilitar um pequeno número de músicas selecionadas que possam causar alguns conflitos, substituindo-as por uma música diferente para ajudar a evitar problemas."</h3>
<h4>Cyberpunk 2077 sai em 10 de dezembro para PC, PS4, PS5, Xbox One e Xbox Series X|S.<h4>

	</div>


</section>
{% endblock %}



