{% extends './base.html'%}


{% block content %}

	
<section>
	<div id="titulo">
		<ul>
		<p>SELECIONE UMA PLATAFORMA</p>
			<br/>
			</ul>
		</div>


		<div id="rank">
			<ul>
				<hr>
				<li><a href="/pc" style="color:#d93e2b">Computador</a></li>
				<hr>
				<li><a href="/ps3" style="color:#d93e2b">Playstation 3</a></li>
				<hr>
				<li><a href="/ps4" style="color:#d93e2b">Playstation 4</a></li>
				<hr>
				<li><a href="/x360" style="color:#d93e2b">xBox 360</a></li>
				<hr>
				<li><a href="/xone" style="color:#d93e2b">xBox One</a></li>
				<hr>
			</ul>
			
		</div>

	</section>



{% endblock %}