

{% from './macros/address.html' import src %}
{% extends './base.html'%}


{% block content %}

<section>
	<div id="titulo">Confira os Lançamentos do mês de Dezembro de 2020</div>
	<div id="lancamento">
		<img {{ src("img/noticias/lancamento.jpg") }} alt="">
		<h3>Empire of Sin (PS4, Xbox One, Switch, PC) - 1 Dezembro<br/>
Immortal: Fenyx Rising (PS4, Xbox One, Switch, PC) - 3 Dezembro<br/>
DRAGON QUEST XI S: Echoes of an Elusive Age - Definitive Edition (PS4, Xbox One, PC) - 4 Dezembro<br/>
Cyberpunk 2077 (PS4, Xbox One, PC) - 10 Dezembro</h3>
		



	</div>	

</section>
{% endblock %}


